<%- include('./includes/head.ejs') %>
        <link rel="stylesheet" href="/public/css/product.css">
        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="stylesheet" href="/public/css/forms.css">
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= staff.name %></h1>
            <hr>
            <div class="image">
                <img src="<%= staff.image %>" alt="<%= staff.name %>">
            </div>
            <% if (!isCheckedIn) { %>
                <form class="product-form" action="/" method="POST">
                    <select name="workplace" id="workplace">
                        <option value="home">Nhà</option>
                        <option value="company">Công ty</option>
                        <option value="customer_company">Khách hàng</option>
                    </select>
                    <button class="btn" type="submit">Check In</button>
                </form>
            <% } else { %>
                <form class="product-form" action="/" method="POST">
                    <input type="hidden" value="checkout" name="checkout">
                    <button class="btn" type="submit">Check Out</button>
                </form>
            <% } %>

            <form class="product-form" action="/dayoff" method="POST">
                <label for="dayoff">
                    Chọn ngày nghỉ
                    <input type="date" name="dayoff" id="dayoff">
                </label>
                <label for="houroff">
                    Chọn số giờ nghỉ
                    <input type="string" name="houroff" id="houroff" max="8">
                </label>  
                <button class="btn" type="submit">Xin nghi</button>
            </form>

            <% if (cannot === 'true') { %> 
                <p> Khong dang ky duoc vi so gio nghi da qua 8 gio </p> 
            <% } else { %> 
                <p></p> 
            <% } %>

            <% if (noTimesheet === 'true') { %> 
                <p> Khong co thong tin timesheet </p> 
            <% } else { %> 
                <p></p> 
            <% } %>

            <% if (overLeave === 'true') { %> 
                <p> Khong dang ky duoc vi qua so ngay nghi quy dinh </p> 
            <% } else { %> 
                <p></p> 
            <% } %>
        </main>
        <%- include('./includes/end.ejs') %>