<%- include('./includes/head.ejs') %>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <main>
                <div class="centered">
                    <h1>
                        Thông tin covid cua <span><%= staff.name %></span>
                    </h1>
                    <hr>
                    <div class="image">
                        <img src="/<%= staff.image %>" alt="<%= staff.name %>">
                    </div>
                    <div>
                        <a href="/employeeVaccine/pdf/<%= staff._id %>">Xuất PDF</a>
                    </div>
                </div>
                <div class="product-form">
                    <div class="form-control">
                        <label><b>Nhiệt độ: </b></label>
                        <p><% if (staff.covid.tem) { %><%= staff.covid.tem %><% } else { %><% } %></p>
                    </div>
                    <div class="form-control">
                        <label><b>Kết quả xét nghiệm covid: </b></label> <span><%= staff.covid.result === 'yes' ? 'Dương tính' : 'Âm tính'%></span>
                    </div>
                    <div class="form-control">
                        <label><b>Loại vaccine mũi 1: </b></label> <span><% if (staff.covid.vaccine[0]) { %><%= staff.covid.vaccine[0]['shot'] %><% } else { %><% } %></span>
                    </div>
                    <div class="form-control">
                        <label><b>Ngày tiêm mũi 1: </b></label> <span><% if (staff.covid.vaccine[0]) { %><%= staff.covid.vaccine[0]['date'].toISOString().slice(0,10) %><% } else { %><% } %></span>
                    </div>
                    <div class="form-control">
                        <label><b>Loại vaccine mũi 2: </b></label> <span><% if (staff.covid.vaccine[1]) { %><%= staff.covid.vaccine[1]['shot'] %><% } else { %><% } %></span>
                    </div>
                    <div class="form-control">
                        <label for="date2"><b>Ngày tiêm mũi 2: </b></label> <span><% if (staff.covid.vaccine[1]) { %><%= staff.covid.vaccine[1]['date'].toISOString().slice(0,10) %><% } else { %><% } %></span>
                    </div>
                </div>
            </main>


            <%- include('./includes/end.ejs') %>