<%- include('./includes/head.ejs') %>
        <link rel="stylesheet" href="/public/css/product.css">
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= staff.name %></h1>
            <hr>
            <div class="image">
                <img src="<%= staff.image %>" alt="<%= staff.name %>">
            </div>
            <p><%= staff.doB %></p>
            <p><%= staff.salaryScale %></p>
            <p><%= staff.startDate %></p>
            <p><%= staff.department %></p>
            <p><%= staff.annualLeave %></p>
            <a href="/edit-staff">Edit</a>
        </main>
        <%- include('./includes/end.ejs') %>