<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main class="centered">
        <h1><%= staff.name %></h1>
        <hr>
        <div class="image">
            <img src="<%= staff.image %>" alt="<%= staff.name %>">
        </div>
        <ul>
            <% timesheet.forEach(t => { %>
                <li>
                    <p>Date: <%= t._id %></p> 
                    <p>Total hours: <%= t.totalHours %></p> 
                    <p>Overtime: <%= t.overTime %></p>
                    <br>
                    <ul>
                        <% t.checkin.forEach(checkin => { %> 
                            <li>
                                <p><%= checkin.start %></p>
                                <p><%= checkin.end %></p>
                                <p><%= checkin.workplace %></p>
                            </li>
                        <% }) %>
                    </ul>
                </li>
            <% }) %>
        </ul>
    </main>

<%- include('./includes/end.ejs') %>